#firstTable{
    border-style: solid;
    padding:2rem;
    margin-top: 2rem;
}

#firstTable tr td{
    border-style: solid;
    padding: 10px;

}

#firstTable th {
    padding: 10px;
    border-style: solid;
}

#adminDiv {
    background-color:white;
    padding: 2rem;
    background-image:none;
    margin: 4rem;

}

#editSubmission textarea{
    margin-left: 1rem;
    padding: 1rem;
    border-color: grey;
    width: 25rem;

}

#editSubmission input{
    margin: 1rem;
    width: 25rem;
    
}

#editSubmission #SubmitButton{
    width: 12rem;
    height: 2.8rem;
    margin: 1rem;
}

#editSubmission select{
    margin: 1rem;
    padding: 0.7rem;
    width: 25rem;
    
}

#editSection {
    margin-left: auto;
    padding-left: 3rem;
}

#DeleteButton {

    width: 12rem;
    height: 2.8rem;
    background-color: lightgrey;
    color: black;
    border-color: grey;
}

.adminElements {
    display: inline-table;
    margin: 0;
}
