#footerJ{
    padding-top: 20px;
    padding-bottom: 5px;
    margin: 0;
    background-color: white;
    
}

#adminLogin:hover {
    cursor: pointer;
    color: grey;
}

#adminLogin {
    display:inline-flex;
}