#reviews .d-block{
    max-height: 100vh;
    min-width: 1920px;
}

#reviews .carousel-control-prev-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23222' viewBox='0 0 8 8'%3E%3Cpath d='M5.25 0l-4 4 4 4 1.5-1.5-2.5-2.5 2.5-2.5-1.5-1.5z'/%3E%3C/svg%3E") !important;
}
   
#reviews .carousel-control-next-icon {
     background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23222' viewBox='0 0 8 8'%3E%3Cpath d='M2.75 0l-1.5 1.5 2.5 2.5-2.5 2.5 1.5 1.5 4-4-4-4z'/%3E%3C/svg%3E") !important;

}
#reviews img{
    height: 30rem;
}

#reviews body {
    background-image: url("../photos/TEMPORARYBACKGROUND.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
} 

#reviews h2{
    
    border-style: solid;
    border-color:#B1B1B1;
    text-align: center;
    padding: 5rem;

}

.reviewFrame {
    margin:0;
    padding:5rem;
    background-color:white;
    
    
}